<?xml version="1.0" encoding="UTF-8"?><template>
	<main>
		<Title>Карта_Общества</Title>
		<AppName>СГИО.Десктоп, Версия 1.0.0 </AppName>
		<version>0.1.0</version>
	</main>
	<MapView>
		<center>
			<longitude>30.588604</longitude>
			<latitude>59.890109</latitude>
		</center>
		<MinZoom>0</MinZoom>
		<MaxZoom>25</MaxZoom>
		<zoom>10</zoom>
		<projection>0</projection>
	</MapView>
	<database>
		<NameDB>sample</NameDB>
		<FilenameDB>default.db</FilenameDB>
		<PathToDB>db/</PathToDB>
	</database>
	<ShowSystemProperties>false</ShowSystemProperties>
	<layers>

		<VectorLayers>
			<NumberOfLayers>16</NumberOfLayers>
			<PathToLayers>VectorLayers/</PathToLayers>
			<LayersName>SGIO_ILI_DATA_VIRT_MARKER.xml|PODS_COMPRESSOR_STATION.xml|PODS_DISTRIBUTION_PLANT.xml|SGIO_ILI_DATA.xml|SGIO_ILI_DATA_FEATURE.xml|SGIO_ILI_PIPE_LENGTH.xml|PODS_RECTIFIER.xml|PODS_ANODE.xml|PODS_TEST_LEAD.xml|PODS_LAUNCHER_RECEIVER.xml|PODS_VALVE.xml|PODS_VENT_PIPE.xml|PODS_MARKER.xml|PODS_MARKER_KM.xml|PODS_MARKER_POINT.xml|PODS_STRUCTURE.xml|PODS_ROUTE.xml</LayersName>
		</VectorLayers>
		<RasterLayers>
			<IsLocalTiles>0</IsLocalTiles>
			<LocalTiles>
				<TileLoaderOption/>
				<PathToTiles/>
			</LocalTiles>
			<PathToBaseRasterLayers>rasterLayers.json</PathToBaseRasterLayers>
		</RasterLayers>
	</layers>
	<NumberNodesOnMap>100000</NumberNodesOnMap>
	<storage>
		<images>
			<PathToImageStorage>images/</PathToImageStorage>
		</images>
		<KML>
			<PathToKMLStorage>KML/</PathToKMLStorage>
			<KMLFiles/>
		</KML>
	</storage>
	<style>
		<SelectedElements>
			<color>#f7e516</color>
		</SelectedElements>
	</style>
</template>